@model IEnumerable<AuthFull.Models.Applican>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<body class="Index">
    <img src="~/Image/sn-dark web.png" />
    <div class="position-absolute">
        <center> <font color="white"><h1> Hi, welcome to my site </h1></font></center>
        <center><font color="white">I am happy to share my experience with you. </font></center>
        <hr />
        <br />
        <br />

        <center><font color="white">  <h1>I build things for the web.</h1></font></center>
        <br />

        <center><font color="white"> <h2>Know More About me !!! </h2></font></center>
    </div>
    </body>




