@model AuthFull.Models.Applican

@{
    ViewData["Title"] = "ProfileDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h1> My Profile  </h1>
    <hr />
    <div class="profile">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ProfileDetails">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <table>
                        <tr>
                            <td>
                                <label asp-for="FirstName" class="control-label"> <b> First Name :</b> </label>
                            </td>
                            <td>
                                <input asp-for="FirstName" />

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="LastName" class="control-label"> <b> Last Name :</b> </label>
                            </td>
                            <td>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="EmailId" class="control-label"> <b> Email Id:</b> </label>
                            </td>
                            <td>
                                <input type="email" asp-for="EmailId" class="form-control" />
                                <span asp-validation-for="EmailId" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Address" class="control-label"> <b> Address :</b> </label>
                            </td>
                            <td>

                                <textarea rows="5" cols="20" asp-for="Address" class="form-control">
                            </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="City" class="control-label"> <b>City :</b> </label>
                            </td>
                            <td>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Country" class="control-label"> <b> Country :</b> </label>
                            </td>
                            <td>
                                <input asp-for="Country" class="form-control" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="PinCode" class="control-label"> <b> Pincode :</b> </label>
                            </td>
                            <td>
                                <input asp-for="PinCode" class="form-control" />
                                <span asp-validation-for="PinCode" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Date_Of_Birth" class="control-label"> <b> Date Of Birth :</b> </label>
                            </td>
                            <td>
                                <input type="date" asp-for="Date_Of_Birth" class="form-control" />
                                <span asp-validation-for="Date_Of_Birth" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Gender" class="control-label"> <b> Gender :</b> </label>
                            </td>
                            <td>

                                <select asp-for="Gender" class="form-control">
                                    <option value=""></option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Phone_Number" class="control-label"> <b> Phone Number :</b> </label>
                            </td>
                            <td>
                                <input asp-for="Phone_Number" class="form-control" />
                                <span asp-validation-for="Phone_Number" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <input type="submit" value="Create" class="btn btn-primary" /> &nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>
        <br />

    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>