@model AuthFull.Models.WorkExperience

@{
    ViewData["Title"] = "WorkExperienceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Work Experience Details</h1>
<div class="WorkExp">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="WorkExperienceDetails">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table>
                    <tr>
                        <td>

                            <label asp-for="Company" class="control-label"> <b> Company </b> </label>
                        </td>
                        <td>
                            <input asp-for="Company" class="form-control" />
                            <span asp-validation-for="Company" class="text-danger"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label asp-for="JobTitle" class="control-label"> <b>Job Title  </b> </label>
                        </td>
                        <td>
                            <input asp-for="JobTitle" class="form-control" />
                            <span asp-validation-for="JobTitle" class="text-danger"></span>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <label asp-for="No_Of_Years" class="control-label"> <b>Number Of Years Worked </b> </label>
                        </td>
                        <td>
                            <input asp-for="No_Of_Years" class="form-control" />
                            <span asp-validation-for="No_Of_Years" class="text-danger"></span>
                        </td>
                    </tr>


                    <tr>

                        <td>
                            <label asp-for="Responsibilites" class="control-label"> <b>Responsibilities  </b> </label>
                        </td>
                        <td>

                            <textarea rows="3" cols="30" asp-for="Responsibilites" class="form-control">
                            </textarea>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label asp-for="Technologies_Used" class="control-label"> <b>Technologies Used  </b> </label>
                        </td>
                        <td>
                            <textarea rows="3" cols="30" asp-for="Technologies_Used" class="form-control">
                            </textarea>
                        </td>

                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>
                            <input type="submit" value="Create" class="btn btn-primary" /> &nbsp;&nbsp;
                        
                            <button asp-action="ReviewApplication">Back to Application </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <br />
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
